<h1>ADMIN PANEL</h1>
<button onclick="location.href='@Url.Action("RoleManager", "AdminPanel")'">Go to Role Manager</button>
<button onclick="location.href='@Url.Action("UserRoles", "AdminPanel")'">Go to Users Manager</button>